div{
    background-image: linear-gradient(to top right, red, white);
    background-color: red;
    background-size: cover;
}
div.satu{
    background-image: radial-gradient(farthest-corner at 250px 400px, white, blue);
    background-color: blue;
    margin: 0 auto;
    width: 500px;
    height: 400px;
}
div.dua{
    background-image: linear-gradient(90deg, white, blue, white);
    background-color: blue;
    margin: 0 auto;
    width: 500px;
    height: 200px;
}